extends layout

block layout-content
  div.View.UserView(style=`background-image: url(${bg})`)
    h1.Banner #{title}
    div.Message
      div.Profile
        div.ProfileBottom
          img(src=userProfile.banner, class='cover', width='2500', height='250')
        div.ProfileTop
          div.opacity
            div.profilephoto
              img(src=userProfile.photo, width='200', height='200')
            if userProfile.isInactive
              div.inactiveplayer
                h1.red (Inactive)
                h1.white #{userProfile.username}
                img(src=userProfile.flag, width='50', height='50')
            else
              div.player
                h1.white #{userProfile.username}
                img(src=userProfile.flag, width='50', height='50')
            div.bigstats
              h2.white Rank 
              if userProfile.isInactive
                h1.white --
              else if !userProfile.isOnLeaderboard
                h1.white ?
              else 
                h1.white #{userProfile.rank}
              if userProfile.isOnLeaderboard
                if userProfile.rank < userProfile.oriRank
                  h2.green (+#{userProfile.oriRank - userProfile.rank})
                else if userProfile.rank > userProfile.oriRank
                  h2.red (-#{userProfile.rank - userProfile.oriRank})
                else  
                  h2.white (+0)
              else 
                if userProfile.total < userProfile.oriPP
                  h2.red (-?)
                else  
                  h2.white (+?)
            div.bigstats
              h2.white Performance
              h1.white #{userProfile.total.toFixed(2)}pp
              if userProfile.total > userProfile.oriPP
                h2.green (+#{(Math.round(100 * (userProfile.total + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.oriPP + Number.EPSILON)) / 100).toFixed(2)})
              else if userProfile.total < userProfile.oriPP
                h2.red (-#{(Math.round(100 * (userProfile.oriPP + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.total + Number.EPSILON)) / 100).toFixed(2)})
              else  
                h2.white (+0.00)
            div.bigstats
              h2.white Accuracy
              h1.white #{userProfile.acc.toFixed(2)}%
              if userProfile.acc > userProfile.oriacc
                h2.green (+#{(Math.round(100 * (userProfile.acc + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.oriacc + Number.EPSILON)) / 100).toFixed(2)}%)
              else if userProfile.acc < userProfile.oriacc
                h2.red (-#{(Math.round(100 * (userProfile.oriacc + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.acc + Number.EPSILON)) / 100).toFixed(2)}%)
              else  
                h2.white (+0.00%)
      div.Scores
        table
          thead
            tr
              th #
              th.map Map
              th.stats Star Rating
              th.stats Mods
              th.stats Accuracy(%) / Rank
              th.stats pp
              th.stats Delete
          tbody
            each score, index in userProfile.data
              if userProfile.selection[index]
                tr
                  td.stats #{index + 1}
                  td.map(style=`-webkit-background-size: cover; background-image: -webkit-cross-fade(url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), url(${score.bg}), 30%)`)
                    p #{score.map}
                  if score.isDifficultyChanged
                    td.stats #{(Math.round(100 * (score.difficulty + Number.EPSILON)) / 100).toFixed(2)}*
                  else 
                    td.stats #{(Math.round(100 * (score.difficulty + Number.EPSILON)) / 100).toFixed(2)}
                  td.stats #{score.mods}
                  td.stats #{(Math.round(100 * (100 * score.accuracy + Number.EPSILON)) / 100).toFixed(2)} / #{score.rank}
                  td.stats #{(Math.round(100 * (score.pp + Number.EPSILON)) / 100).toFixed(2)}
                  td.stats
                    form(action='/scores', method='POST')
                      input(type='hidden', name='osu_id', value=userProfile.userid)
                      input(type='hidden', name='changeID', value=index)
                      input(type='hidden', name='init', value='')
                      input(type='submit', name='change', value='delete')
              else 
                tr
                  td.removedstats #{index + 1}
                  td.removedmap #{score.map}
                  if score.isDifficultyChanged
                    td.removedstats #{(Math.round(100 * (score.difficulty + Number.EPSILON)) / 100).toFixed(2)}*
                  else
                    td.removedstats #{(Math.round(100 * (score.difficulty + Number.EPSILON)) / 100).toFixed(2)}
                  td.removedstats #{score.mods}
                  td.removedstats #{(Math.round(100 * (100 * score.accuracy + Number.EPSILON)) / 100).toFixed(2)} / #{score.rank}
                  td.removedstats #{(Math.round(100 * (score.pp + Number.EPSILON)) / 100).toFixed(2)}
                  td.removedbutton
                    form(action='/scores', method='POST')
                        input(type='hidden', name='osu_id', value=userProfile.userid)
                        input(type='hidden', name='changeID', value=index)
                        input(type='hidden', name='init', value='')
                        input(type='submit', name='change', value='undelete')

    div.NavButtons
      a(href="/")
        div.NavButton Try another profile
      a(href="https://github.com/ntwbruce/osu-calc/blob/main/docs/Calculations.md", target="_blank")
        div.NavButton Details about calculations
