extends layout

block layout-content
  div.View.UserView
    h1.Banner Delete My Scores
    div.Message
      div.Profile
          div.left
            h1 #{userProfile.username}
          div.middle
            h2 Performance
            h1 #{userProfile.total.toFixed(2)}pp
            if userProfile.total > userProfile.oriPP
              h2 (+#{(Math.round(100 * (userProfile.total + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.oriPP + Number.EPSILON)) / 100).toFixed(2)})
            else if userProfile.total < userProfile.oriPP
              h2 (-#{(Math.round(100 * (userProfile.oriPP + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.total + Number.EPSILON)) / 100).toFixed(2)})
            else  
              h2 (+0.00)
          div.right
            h2 Accuracy
            h1 #{userProfile.acc.toFixed(2)}%
            if userProfile.acc > userProfile.oriacc
              h2 (+#{(Math.round(100 * (userProfile.acc + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.oriacc + Number.EPSILON)) / 100).toFixed(2)}%)
            else if userProfile.acc < userProfile.oriacc
              h2 (-#{(Math.round(100 * (userProfile.oriacc + Number.EPSILON)) / 100 - Math.round(100 * (userProfile.acc + Number.EPSILON)) / 100).toFixed(2)}%)
            else  
              h2 (+0.00%)
      div.Scores
        table
          thead
            tr
              th #
              th.map map
              th.stats accuracy (%)
              th.stats pp
              th.stats delete
          tbody
            each val, index in userProfile.data
              if userProfile.selected[index]
                tr
                  td.stats #{index + 1}
                  td.map #{val[0]}
                  td.stats #{(Math.round(100 * (100 * val[1] + Number.EPSILON)) / 100).toFixed(2)}
                  td.stats #{(Math.round(100 * (val[2] + Number.EPSILON)) / 100).toFixed(2)}
                  td.stats
                    form(action='/scores-updated', method='POST')
                      input(type='hidden', name='changeID', value=index)
                      input(type='submit', name='change', value='delete')
              else 
                tr
                  td.removed #{index + 1}
                  td.removedmap #{val[0]}
                  td.removed #{(Math.round(100 * (100 * val[1] + Number.EPSILON)) / 100).toFixed(2)}
                  td.removed #{(Math.round(100 * (val[2] + Number.EPSILON)) / 100).toFixed(2)}
                  td.removedbutton
                    form(action='/scores-updated', method='POST')
                      input(type='hidden', name='changeID', value=index)
                      input(type='submit', name='change', value='undelete')

    div.NavButtons
      a(href="/")
        div.NavButton Try your friend's profile for fun or something