extends layout

block layout-content
  div.View.UserView
    h1.Banner Delete My Scores
    div.Message
      div.Title
        h1 #{userProfile.username}

        h2 Total PP: #{userProfile.total}pp
        h2 Total PP without bonus: #{userProfile.totalnb}pp 
        h2 Bonus PP: #{userProfile.bonus}pp 
      table
        tr
          th #
          th.map map
          th pp
          th delete
        tbody
          each val, index in userProfile.data
            if userProfile.selected[index]
              tr
                td #{index + 1}
                td.map #{val[0]}
                td #{val[1]}
                td.button
                  form(action='/scores-updated', method='POST')
                    input(type='hidden', name='changeID', value=index)
                    input(type='submit', name='change', value='delete')
            else 
              tr
                td.removed #{index + 1}
                td.removedmap #{val[0]}
                td.removed #{val[1]}
                td.removedbutton
                  form(action='/scores-updated', method='POST')
                    input(type='hidden', name='changeID', value=index)
                    input(type='submit', name='change', value='undelete')

    div.NavButtons
      a(href="/")
        div.NavButton Try your friend's profile for fun or something